<% if user_signed_in? %>
	<p>
		You are now in the
	</p>

	<p style="font-family:'Futura'; font-size:88pt; line-height:62pt;">ZōN!</p>
		
<% else %>
	<div class="hero-unit">
		<h1>
			Hi Everyone!
		</h1>
		<p>
			You've found the home page for our exclusive application, 
				<%= link_to "ZōNopolis", "http://www.zonopolis.com" %> !
		</p>
	
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-info btn-small" %>
		</p>
	</div>
<% end %>