$baseFontFamily: Muli;
@import url(http://fonts.googleapis.com/css?family=Muli);

$fontFamily: Inconsolata;
@import url(http://fonts.googleapis.com/css?family=Inder);



$navbarBackgroundHighlight:#6cd;
$navbarBackground:#079;

$navbarLinkColor:#cff;
$navbarLinkColorHover:white;

@import 'bootstrap'; 

body			{padding-top:100px;}

@import 'bootstrap-responsive'; 

/*
.navbar-inner	{@include box-shadow(none !important);
				 border:0;}
*/

.footer			{margin-top:100px;
				 color:$grayLight;}
	
.footer a		{color:$gray}